In [112]:
import warnings
warnings.filterwarnings('ignore')

In [113]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import MaxAbsScaler

In [145]:
train_data = pd.read_csv('training_titanic_x_y_train.csv')
test_data = pd.read_csv('test_titanic_x_test.csv')

In [146]:
train_data.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29.0,1,0,228414,26.000,NaN,S,1
1,3,"Williams, Mr. Howard Hugh ""Harry""",male,NaN,0,0,A/5 2466,8.050,NaN,S,0
2,2,"Morley, Mr. Henry Samuel (""Mr Henry Marshall"")",male,39.0,0,0,250655,26.000,NaN,S,0
3,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,29.0,0,4,349909,21.075,NaN,S,0
4,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.050,NaN,S,0

In [147]:
train_data.drop('Name',axis=1,inplace=True)
train_data.drop('Ticket',axis=1,inplace=True)

test_data.drop('Name',axis=1,inplace=True)
test_data.drop('Ticket',axis=1,inplace=True)

In [148]:
mod_val = train_data['Embarked'].mode()[0]
train_data['Embarked'].fillna(mod_val,inplace=True)

median_val = train_data['Age'].median()
train_data['Age'].fillna(median_val,inplace=True)

mod_val = test_data['Embarked'].mode()[0]
test_data['Embarked'].fillna(mod_val,inplace=True)

median_val = test_data['Age'].median()
test_data['Age'].fillna(median_val,inplace=True)
test_data['Age'] = test_data['Age'].apply(lambda s: int(s))

In [149]:
train_data['Cabin'] = train_data['Cabin'].apply(lambda s: 1 if s!=s else 0)
train_data['Sex'] = train_data['Sex'].apply(lambda s: 1 if s=='male' else 0)
train_data['Embarked'] = train_data['Embarked'].apply(lambda s: 1 if s=='S' else (0 if s=='C' else -1))
train_data['Age'] = train_data['Age'].apply(lambda s: int(s))
train_data['Fare'] = train_data['Fare'].apply(lambda s: int(s))

In [150]:
test_data['Cabin'] = test_data['Cabin'].apply(lambda s: 1 if s!=s else 0)
test_data['Sex'] = test_data['Sex'].apply(lambda s: 1 if s=='male' else 0)
test_data['Embarked'] = test_data['Embarked'].apply(lambda s: 1 if s=='S' else (0 if s=='C' else -1))
test_data['Age'] = test_data['Age'].apply(lambda s: int(s))
test_data['Fare'] = test_data['Fare'].apply(lambda s: int(s))

In [151]:
train_data.head()

   Pclass  Sex  Age  SibSp  Parch  Fare  Cabin  Embarked  Survived
0       2    0   29      1      0    26      1         1         1
1       3    1   29      0      0     8      1         1         0
2       2    1   39      0      0    26      1         1         0
3       3    0   29      0      4    21      1         1         0
4       3    1   25      0      0     7      1         1         0

In [182]:
x = train_data.iloc[:,:-1]
y = train_data.iloc[:,-1]

In [183]:
scaler = StandardScaler()
scaler.fit(x)

StandardScaler()

In [184]:
x_train = scaler.transform(x)
x_test = scaler.transform(test_data)

In [185]:
reg = LogisticRegression()
reg.fit(x_train,y)
y_pred = reg.predict(x_test)

In [186]:
np.savetxt('predictions.csv',y_pred,fmt='%i')

In [187]:
reg.score(x_train,y)

0.7979041916167665